* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
:root{
    --text-color: #000000;
    --text-ligter: #404660;
}
body {
    overflow-x: hidden;
    color: var(--text-color);
}
.body-wrapper {
    display: table;
    justify-content: center;
    align-items: center;
    margin: auto;
}

/* Header */
header {
    display: block;
}

.header {
    position: relative;
    z-index: 11;
    top: 0;
    left: 0;
    width: 100%;
    background: #003174;
}

.header-wrap {
    position: relative;
    display: flex;
    align-items: center;
    height: 5rem;
    justify-content: space-between;
}

.header-logo {
    margin-right: 2rem;
}

.header-logo:last-child {
    margin-right: 0;
}

.header-logo__col {
    display: flex;
    align-items: center;
}

@media (max-width: 46rem) {
    .header-wrap {
        height: 4rem;
    }

    .header-logo:first-child svg {
        width: 5rem;
    }

    .header-logo:last-child svg {
        width: 2.5rem;
    }
}

/* Header */

table {
    border-collapse: collapse;
    border: 2px black solid;
    font: 12px sans-serif;
}

td {
    border: 1px black solid;
    padding: 5px;
}

/* Dropzone */
.dropzone {
    width: 200px;
    height: 200px;
    border: 2px dashed rgb(115, 165, 231);
    text-align: center;
    padding-top: 40px;
    margin-top: 20px;
    display: grid;
    align-items: center;
    justify-content: center;
}

  table {
    border-collapse: collapse;
    margin-bottom: 1rem;
    width: 100%;
  }
  
  tbody {
    border: 1px solid #dee2e6;
    font-size: 1rem;
  }
  
  th, td {
    padding: 0.75rem;
    vertical-align: top;
    font-size: 10px;
  }
  
  th {
    background-color: #e9ecef;
    border: 1px solid #dee2e6;
  }
  
  tr:nth-child(even) td {
    background-color: #f8f9fa;
  }
  
  tr:hover td {
    background-color: #e2e6ea;
  }
.download-img img {
    width: 90px;
}
.droptext{
    font-weight: 300;
    color: var(--text-ligter);
}
/* DropZone */
