@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
:root{
    --text-color: #000000;
    --text-ligter: #404660;
    --bg-color: #6990F2;

}
body {
    overflow-x: hidden;
    color: var(--text-color);
    background-color: var(--bg-color);
}
.body-wrapper {
    display: table;
    justify-content: center;
    align-items: center;
    margin: auto;
}

/* Header */
header {
    display: block;
}

.header {
    position: relative;
    z-index: 11;
    top: 0;
    left: 0;
    width: 100%;
    background: #003174;
}

.header-wrap {
    position: relative;
    display: flex;
    align-items: center;
    height: 5rem;
    justify-content: space-between;
}

.header-logo {
    margin-right: 2rem;
}
.header-logo svg{
  margin-left: 10px;
}


.header-logo:last-child {
    margin-right: 0;
}

.header-logo__col {
    display: flex;
    align-items: center;
}

@media (max-width: 46rem) {
    .header-wrap {
        height: 4rem;
    }

    .header-logo:first-child svg {
        width: 5rem;
    }

    .header-logo:last-child svg {
        width: 2.5rem;
    }
}

/* Header */

table {
    border-collapse: collapse;
    border: 2px black solid;
    font: 12px sans-serif;
}

td {
    border: 1px black solid;
    padding: 5px;
}

  table {
    border-collapse: collapse;
    margin-bottom: 1rem;
    width: 100%;
  }
  
  tbody {
    border: 1px solid #dee2e6;
    font-size: 1rem;
  }
  
  th, td {
    padding: 0.75rem;
    vertical-align: top;
    font-size: 10px;
  }
  
  th {
    background-color: #e9ecef;
    border: 1px solid #dee2e6;
  }
  
  tr:nth-child(even) td {
    background-color: #f8f9fa;
  }
  
  tr:hover td {
    background-color: #e2e6ea;
  }

/* DropZone */
::selection{
  color: #fff;
  background: var(--bg-color);
}
.dropzone-wrapper{
    margin-top: 20px;
  width: 430px;
  background: #fff;
  border-radius: 5px;
  padding: 30px;
  box-shadow: 7px 7px 12px rgba(0,0,0,0.05);
}
.dropzone-wrapper header{
  color: #6990F2;
  font-size: 27px;
  font-weight: 600;
  text-align: center;
}
.dropzone-wrapper form{
  height: 167px;
  display: flex;
  cursor: pointer;
  margin: 30px 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  border: 2px dashed var(--bg-color);
}
form :where(i, p){
  color: var(--bg-color);
}
form i{
  font-size: 50px;
}
form p{
  margin-top: 15px;
  font-size: 16px;
}

section .row{
  margin-bottom: 10px;
  background: #E9F0FF;
  list-style: none;
  padding: 15px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section .row i{
  color: var(--bg-color);
  font-size: 30px;
}
section .details span{
  font-size: 14px;
}
.progress-area .row .content{
  width: 100%;
  margin-left: 15px;
}
.progress-area .details{
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  justify-content: space-between;
}
.progress-area .content .progress-bar{
  height: 6px;
  width: 100%;
  margin-bottom: 4px;
  background: #fff;
  border-radius: 30px;
}
.content .progress-bar .progress{
  height: 100%;
  width: 0%;
  background: var(--bg-color);
  border-radius: inherit;
}
.uploaded-area{
  max-height: 232px;
  overflow-y: scroll;
}
.uploaded-area.onprogress{
  max-height: 150px;
}
.uploaded-area::-webkit-scrollbar{
  width: 0px;
}
.uploaded-area .row .content{
  display: flex;
  align-items: center;
}
.uploaded-area .row .details{
  display: flex;
  margin-left: 15px;
  flex-direction: column;
}
.uploaded-area .row .details .size{
  color: #404040;
  font-size: 11px;
}
.uploaded-area i.fa-check{
  font-size: 16px;
}
/* Testing */

